body {
	font-size: 120%;
	color: #000;
	background: #000 url('https://img.wallpapersafari.com/desktop/1680/1050/16/83/WBwdPK.jpg') no-repeat;
}

h1 {
	color: #fff;
	display: inline;
}

.charm, .charm-placeholder {
	/*width: 96px;*/
	width: 72px;
	margin: 4px;	
	padding: 4px;
}
.charm:hover, .charm:focus {
	background-color: #fff;
	cursor: pointer;
	border-radius: 50%;
}

.modal-charm {
	width: 64px;
}

.geo, .notch {
	width: 20px;
}

.spoiler {
	background-color: #000;
}

.spoiler:hover {
	background-color: transparent;
}

.modal-content {
	background-color: #000;
	color: #fff;
	border-radius: 0px;
}
.modal-content .close {
	color: #fff;
	text-shadow: none;
}

.decoration {
	display: block;
	margin: auto;
	height: 20px;
}

@media (max-width: 992px) { /* md */
	.charm {
		width: 64px;
	}
	.charm-placeholder, .charm-br {
		display: none;
	}
}
