/* basics */
body {
	color: #000;
	background: #000 url('https://img.wallpapersafari.com/desktop/1680/1050/16/83/WBwdPK.jpg') no-repeat;
}
h1 {
	color: #fff;
	display: inline;
}

/* charms */
.charm, .charm-placeholder {
	/*width: 96px;*/
	width: 72px;
	margin: 4px;	
	padding: 4px;
}
.charm:hover, .charm:focus {
	background-color: #fff;
	cursor: pointer;
	border-radius: 50%;
}

/* popovers */
.popover-header {
	border-radius: 0;
}
.popover-body {
	display: none;
}

/* modals */
.modal-charm {
	width: 64px;
}
.modal-content {
	background-color: #000;
	color: #fff;
	border-radius: 0px;
}
.modal-content .close {
	color: #fff;
	text-shadow: none;
}
.decoration {
	display: block;
	margin: auto;
	width: 320px;
}
.geo {
	width: 20px;
}
.notch {
	width: 32px;
}
hr {
	border-color: #fff;
	width: 240px;
}
.spoiler {
	background-color: #fff;
}
.spoiler:hover {
	background-color: transparent;
}

/* tabs */
.nav-item {
	cursor: pointer;
}
.nav-link.active, .nav-link.active:hover {
	color: #000 !important;
}

/* buttons */
.btn-outline-light {
	border-radius: 0;
	margin: 4px;
}

/* media rules */
@media (max-width: 992px) { /* md */
	.charm {
		width: 64px;
	}
	.charm-placeholder, .charm-br {
		display: none;
	}
}
